@import url('https://fonts.googleapis.com/css2?family=Lobster&display=swap');

*, *:before, *:after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.cont{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background: -webkit-linear-gradient(left, #c8eeb6, #046104);
}

input, button{
    border: none;
    outline: none;
    background: none;
}

.contenedor{
    overflow: hidden;
    position: relative;
    width: 900px;
    height: 550px;
    background: #fff;
    box-shadow: 0 19px 38px rgba(0, 0, 0, 0.30), 0 15px 12px rgba(0, 0, 0, 0.22);
}
.form{
    position: relative;
    width: 640px;
    height: 100%;
    padding: 50px 30px;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition:  transform 1.2s ease-in-out;
    transition:  transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out ;
}

h2{
    width: 100%;
    font-size: 40px;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

label{
    display: block;
    width: 260px;
    margin: 25px auto;
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

label span{

    font-size: 25px;
    font-weight: 600;
    color: #136303;
    text-transform: uppercase;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

input{
    display: block;
    width: 100%;
    margin-top: 5px;
    font-size:16px ;
    padding-bottom: 5px;
    border-bottom: 1px solid rgba(109, 93, 93, 0.4);
    text-align: center;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;

}

button{
    display: block;
    margin: 0 auto;
    width: 260px;
    height: 36px;
    border-radius: 36px;
    color: #fff;
    font-size: 15px;
    cursor: pointer;
}
.submit{
    margin-top:40px ;
    margin-bottom: 30px;
    text-transform: uppercase;
    font-weight: 600;
    font-family:Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    background: -webkit-linear-gradient(left, #b1e085, #195c0b) ;
}

.submit:hover{
    background: -webkit-linear-gradient(left, #77ac83, #57f039) ;

}
.forgot-pass{
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
    font-weight: 600;
    color: black;
    cursor: pointer;

}

.forgot-pass:hover{
    color:yellowgreen
}
.red-social{
    width: 100%;
    text-align: center;
    margin-top: 20px;
}
.red-social ul{
    list-style: none;
}
.red-social ul li{
    display: inline-block;
    cursor: pointer;
    margin: 25px 20px;
}
.red-social img{
    width: 40px;
    height: 40px;
}

.sub-cont{
    overflow: hidden;
    position: absolute;
    left: 640px;
    top: 0;
    width: 900px;
    height: 100%;
    padding-left: 260px;
    background: #fff;
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition: -webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out;
}

.contenedor.s-signup .sub-cont{
    -webkit-transform: translate3d(-640px, 0, 0);
            transform: translate3d(-640px, 0, 0)
}

.img{
    overflow: hidden;
    z-index: 2;
    position: absolute;
    left: 0;
    top: 0;
    width: 260px;
    height: 100%;
    padding-top: 360px;
}

.img::before{
    content: '';
    position:absolute;
    right: 0;
    top: 0;
    width: 300px;
    height: 100%;
    background-image: url(assets/morty.jpg);
    background-size: cover;
    transition:-webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out
}
.img::after{
    content: '';
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0,0,0,0.3);
}
.contenedor.s-signup .img::before{
    -webkit-transform:translate3d(640px, 0, 0);
    transform:translate3d(640px, 0, 0);
}

.img-text{
    z-index: 2;
    position: absolute;
    left: 0;
    top: 50px;
    width: 100%;
    padding: 0 20px;
    text-align: center;
    color: rgb(241, 241, 234);
    -webkit-transition: -webkit-transform 1.2s ease-in-out;
    transition:-webkit-transform 1.2s ease-in-out;
    transition: transform 1.2s ease-in-out, -webkit-transform 1.2s ease-in-out;
}

.img-text h2{
    margin-bottom: 40px;
    font-weight: normal;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.img-text p{
    font-size: 14px;
    line-height: 1.5;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
.contenedor.s-signup .img-text.m-up{
    -webkit-transform:translateX(520px);
            transform:translateX(520px);
}


.img-text.m-in{
    -webkit-transform:translateX(-520px);
            transform:translateX(-520px);
}
.contenedor.s-signup .img-text.m-in{
  -webkit-transform:translateX(0);
  transform:translateX(0);
}


.sign-in{
    padding-top: 75px;
    -webkit-transition-timing-function: ease-out;
    transition-timing-function: ease-out
}

.contenedor.s-signup .sign-in{
    -webkit-transition-timing-function: ease-out;
            transition-timing-function: ease-out;
    -weblit-transition-duration:1.2s;
            transition-duration:1.2s;
    -webkit-transform:translate3d(640px, 0, 0);
            transform:translate3d(640px, 0, 0);

}



.contenedor.s-signup .img-btn span.m-in{
  -webkit-transform:translateY(0);
  transform:translateY(0);
}

.contenedor.s-signup .img-btn span.m-up{
    -webkit-transform:translateY(72px);
    transform:translateY(72px);
}



h1{
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    width: 100%;
    font-size: 40px;
    text-align: center;
}
nav{
    height: 60px;
    background-color:#17181C;
    text-align: center;
  }

  nav ul{
     list-style: none;
     display: inline-block;
     padding:18px;
  }

  nav ul li{
      float: left;
      margin-top: 20px;
  }

  nav ul li a {
      color: white;
      font-weight: bold;
      text-decoration: none;
      font-size: 20px;
      padding: 18px;
  }

  nav ul li a:hover{
    background-color: #22c738;
  }